.container {
  display: flex;
}

.allHeroes {
  flex: 1.5;
  display: flex;
  flex-wrap: wrap;
}

.allHeroes > div {
  margin: 8px 30px 0 0;
}

.comp {
  margin-top: 8px;
  flex: 1;
}

.compFixed {
  position: fixed;
}

.buffGroupContainer {
  display: flex;
}

.buffContainer {
  width: 25px;
}

/* should be moved to own component */
.heroGroup {
  display: flex;
  flex-wrap: wrap;
}

.heroContainer {
  width: 62px;
}
